## Editor temporary/working/backup files
.#*
*\#*\#
[#]*#
*~
*$
*.bak
*flymake*
*.kdev4
*.log
*.nfs*
*.old
*.out
*.sas7bdat
*.swo
*.swp
*.pdb
*.tmp
.project
.pydevproject
.terraform*
terraform.tfstate*
.settings
.idea
.vagrant
.noseids
.ipynb_checkpoints
.tags
.vscode

.bash_history
.gitcreds
.viminfo
.xsession-errors

# Accelerator User-specific

*.cfg
data/*
data/**/*
etlops/*
formats/*
log/*
payload/*
source/*

!data/**/fsc_time_dim.sas7bdat

## OS Generated

.DS_Store
Thumbs.db
